body{
    background-position: center;
    background-size: cover;
}
a{
    font-size: 30px !important;
width: 300px;
border-radius: 30px !important;
background-color: rgb(167, 167, 231);
color: black;
font-family: cursive;
}

h2{
    color: aliceblue;
    font-size: 40px;
    font-family: cursive;
}